<div class="register-from-wrap">
    <form nz-form [formGroup]="validateForm2" (ngSubmit)="_submitForm()">
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="8" [nzXs]="28">
                <label for="email" nz-form-item-required>邮箱</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('email')">
                <nz-input [nzSize]="'large'" formControlName="email" [nzId]="'email'"></nz-input>
                <div nz-form-explain *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('email')">The input is not valid E-mail!</div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="8" [nzXs]="28">
                <label for="password" nz-form-item-required>密码</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('password')">
                <nz-input [nzSize]="'large'" formControlName="password" [nzType]="'password'" [nzId]="'password'" (ngModelChange)="updateConfirmValidator()"></nz-input>
                <div nz-form-explain *ngIf="getFormControl('password').dirty&&getFormControl('password').hasError('required')">Please input your password!</div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="8" [nzXs]="28">
                <label for="checkPassword" nz-form-item-required>确认密码</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('checkPassword')">
                <nz-input [nzSize]="'large'" formControlName="checkPassword" [nzType]="'password'" [nzId]="'checkPassword'"></nz-input>
                <div nz-form-explain *ngIf="getFormControl('checkPassword').dirty&&getFormControl('checkPassword').hasError('required')">Please confirm your password!</div>
                <div nz-form-explain *ngIf="getFormControl('checkPassword').dirty&&getFormControl('checkPassword').hasError('confirm')">Two passwords that you enter is inconsistent!</div>
            </div>
        </div>

        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="8" [nzXs]="28">
                <label for="phoneNumber" nz-form-item-required>手机号码</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('phoneNumber')">
                <nz-input-group [nzSize]="'large'" [nzCompact]="true">
                    <input formControlName="phoneNumber" id="'phoneNumber'" nz-input style="width: 100%;">
                </nz-input-group>
                <div nz-form-explain *ngIf="getFormControl('phoneNumber').dirty&&getFormControl('phoneNumber').hasError('required')">Please input your phone number!</div>
            </div>
        </div>

        <div nz-form-item nz-row style="margin-bottom:8px;">
            <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
                <button nz-button [nzSize]="'large'" [nzType]="'primary'">注册账号</button>
            </div>
        </div>
    </form>
</div>