<div class="user-info-wrap">
    <div class="user-info-menu">
        <ul nz-menu [nzMode]="'inline'" nzTheme='dark' [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item class="user-info-li" [nzSelected]="'true'" (click)="switchPage('userWallet')">
                <span title>
                  <i class="anticon anticon-mail"></i>
                  <span>我的钱包</span>
                </span>
            </li>
            <li nz-menu-item class="user-info-li" (click)="switchPage('userOrder')">
                <span title>
                  <i class="anticon anticon-appstore"></i>
                  <span>历史订单</span>
                </span>
            </li>
            <li nz-menu-item class="user-info-li" (click)="switchPage('userHistory')">
                <span title>
                  <i class="anticon anticon-setting"></i>
                  <span>历史纪录</span>
                </span>
            </li>
        </ul>
    </div>


    <div class="user-info-content" [ngSwitch]="contentFlag">
        <app-user-wallet *ngSwitchCase="'userWallet'"></app-user-wallet>
        <app-user-order *ngSwitchCase="'userOrder'"></app-user-order>
        <app-user-history *ngSwitchCase="'userHistory'"></app-user-history>
    </div>
</div>