    .text-center {
        text-align: center;
    }
    
    h2.section-title {
        font-size: 24px;
        margin: 80px auto 30px;
    }
    
    hr.line {
        margin: 20px auto;
        width: 98px;
        border: 0;
        border-top: 1.5px solid #43cb83;
    }
    
    .lp-section-2 {
        background-color: #f6f6f6;
    }
    
    .lp-section-2 p {
        padding: 0 20px;
        line-height: 34px;
        color: #666;
        font-size: 14px;
    }
    
    .row {
        margin-left: -15px;
        margin-right: -15px;
        width: 100%;
    }
    
    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
    
    .lp-section-2 img {
        margin: 20px 0 50px 0;
        width: 860px;
        height: auto;
    }
    
    .lp-section-1 .lp-first-image {
        padding: 150px 0 50px;
        color: #fff;
        background: url(/assets/landing.png);
        background-position: center;
        background-size: cover;
    }
    
    .exchange-input {
        margin: 0 30% 30px 30%;
        background-color: #ffffff;
        color: #333333;
        padding: 15px 10px;
        border-radius: 3px;
    }
    
    .exchange-input .currency-input {
        float: left;
        width: 38%;
        padding: 0 10px;
    }
    
    .lp-section-1 .lp-first-image h2 {
        font-size: 42px;
        margin: 30px auto;
        letter-spacing: 5px;
        color: #fff;
    }
    
    .lp-section-1 .lp-first-image p {
        font-size: 16px;
        margin: 30px auto 100px;
        letter-spacing: 3px;
    }
    
    .exchange-input .select-cny,
    .exchange-input .select-btc {
        float: left;
        width: 20%;
    }
    
    .exchange-input .select-cny nz-select,
    .exchange-input .select-btc nz-select {
        width: calc(100% - 55px);
        height: 40px;
    }
    
    .exchange-input .currency-input input {
        height: 40px;
        border: 1px solid #cccccc;
        letter-spacing: 0.5px;
    }
    
    .exchange-input .search-button .btn-theme {
        width: 20%;
        border-radius: 4px;
    }
    
    .btn-theme {
        width: 20%;
    }
    
    .select-text {
        margin: 0 10px;
    }
    
    .text-center {
        width: 60%;
        margin: 0 20%;
    }